@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

.button-hp::after{
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(44, 44, 44);
    font-size: 25px;
    content: '﹥';
    width: 35px;
    padding-top: 2px;
    font-weight: 900;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}

.button-login::before{
    content: '';
    background: url('./assets/ivao_official-01.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 12px;
    left: 135px;
}

.login-bg{
    transform-style: preserve-3d;
}

.login-bg::after{
    content: '';
    position: absolute;
    width: 580px;
    height: 300px;
    background-color: #171937;
    display: block;
    top: 50px;
    left: 30px;
    border-radius: 15px;
    transform: translateZ(-1px);
}